<div class="container-fluid ">
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="titleIfl display-6">El aroma mágico</p>
      <hr>
      <div>
        <img src="../../assets/bannerCoffee.png" alt="El aroma mágico">
      </div>
      <hr>
      <div class="col-8">
        <table class="table text-light bg-dark ">
          <thead>
            <tr>
              <th class="h5">#</th>
              <th class="h5">Nombre</th>
              <th class="h5">Tipo</th>
              <th class="h5">Región</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coffee of coffees" class="text-black bg-white">
              <td>
                <dd class="fw-bold ">{{coffee.id}}</dd>
              </td>
              <td>
                <dd>{{coffee.nombre}}</dd>
              </td>
              <td>
                <dd>{{coffee.tipo}}</dd>
              </td>
              <td>
                <dd>{{coffee.region}}</dd>
              </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p>Total café de origen: {{getBlendedCoffeeCounter()}} <br> Total café blend: {{getOriginCoffeeCounter()}}</p>
    </div>
  </div>
</div>

